*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Nunito Sans', sans-serif;
    background: rgb(217, 226, 236);
}

h1{
    text-align: center;
    padding: 20px;
    font-size: 40px;
    color: rgb(56, 56, 56);
}

#fecha{
    text-align: center;
    color: rgb(148, 148, 148);
    padding: 20px;
    font-size: 30px;
}

.container{
    width: 700px;
    background: white;
    padding: 20px;
    margin: auto;
    margin-top: 20px;
}

.acceso{
    color: rgb(26, 151, 235);
}

.dni{
    text-align: center;
    font-size: 25px;
    margin-bottom: 20px;
}

input{
    width: 100%;
    padding: 20px;
    outline: none;
}

.botones{
    display: flex;
    margin-top: 20px;
}

.entrada{
    background: rgb(0, 89, 255);
    width: 100%;
    padding: 25px 35px;
    color: white;
    text-align: center;
    text-decoration: none;

}

.salida{
    background: rgb(235, 12, 4);
    width: 100%;
    padding: 25px 35px;
    color: white;
    text-align: center;
    text-decoration: none;
}